.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right top, #daecd7, #bccbea);
}

.main-section {
  width: 60vw;
  height: 70vh;
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  justify-content: center;
  align-items: center;
}

.main-section-left {
  text-align: center;
}

.main-section-left #timer {
  width: 50vmin;
}

.main-section-right {
  display: grid;
  grid-template-rows: 1fr 3fr;
  justify-content: center;
  align-items: center;
}

.main-section-bottom {
  text-align: center;
  grid-column: 1 / 3;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.main-section-bottom .btn {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: 0;
  background-color: rgba(121, 167, 135, 0.411);
  font-weight: bold;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
