.payment-box {
  width: 75%;
}

.payment-box h2 {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

#select-res {
  background: none;
  width: 50px;
  border: none;
}

.payment-box .total-price-box {
  background-color: rgba(128, 128, 128, 0.173);
  padding: 3rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 0.9rem;
}

.payment-box .total-price-box a {
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 2rem;
}

.payment-box .info-payments {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  list-style-type: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.payment-box .info-payment {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: rgba(128, 128, 128, 0.582);
  font-size: 0.9rem;
}

.payment-box .info-payment a {
  font-weight: bold;
  font-size: 1rem;
  color: black;
  margin-top: 0.4rem;
}

.payment-box #payment-Btn {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: 0;
  background-color: rgba(121, 167, 135, 0.411);
  font-weight: bold;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.payment-box #payment-Btn:active {
  transform: scale(0.98);
}
