/* ------------ index.html ------------ */
.seat-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 92vh;
  background-color: #edf0eb;
}

/* .seat-container-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 91vw;
  height: 82vh;
  background-color: #8bc34a12;
  border-radius: 12px;
  perspective: 1000px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
} */

.seat-container {
  display: flex;
  align-items: center;
  width: 70vw;
  height: 75vh;
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.seat-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
  background-color: white;
  border-radius: 12px 0 0 12px;
}

.seat-container .divider {
  border-left: 2px solid;
  height: 80%;
}

.seat-view {
  position: relative;
  width: 75%;
  height: 100%;
  background-color: white;
  border-radius: 0 12px 12px 0;
}

#disable--seat-view {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

/* .seat-view__nav {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  height: 7%;
  background-color: #b3b3b3;
} */

/* .btn-primary {
  position: relative;
  color: black;
  background-color: #c196d4;
  border: none;
  width: 112px;
  height: 10%;
  font-size: 0.8em;
  margin-right: 15px;
  padding-bottom: 20px;
} */

.plus-icon {
  position: absolute;
  font-size: 2em;
  margin: -8px 0 0 -5px;
}

.plus-icon img {
  width: 15px;
  margin-bottom: 3px;
}

.information {
  display: flex;
  flex-direction: row-reverse;
  margin: 15px;
  line-height: 10px;
}

.information .color-box__empty {
  width: 20px;
  height: 20px;
  background: #bccbea;
  border-radius: 4px;
}

.information .color-box__full {
  width: 20px;
  height: 20px;
  background: #c28ed1;
  border-radius: 4px;
}

/* .information img {
  width: 26px;
  height: 22px;
  margin-left: -14px;
} */

.information p {
  margin: 5px 10px 5px 30px;
}

.select-label {
  margin-right: -28px;
  font-size: 1em;
}

.section {
  width: 150px;
  margin: 50px;
}

.section-small {
  width: 75px;
}

#section-container {
  display: flex;
  justify-content: center;
}

.table {
  display: flex;
  background-color: #444451;
  border-radius: 1rem;
  margin-bottom: 0;
}

.table.normal {
  width: 150px;
  height: 75px;
}

.table.small {
  width: 75px;
  height: 75px;
  left: 50px;
  margin-left: 36px;
}

.table > :not(:first-child) {
  border-top: 0 !important;
}

.table-status {
  font-family: "Chonburi", cursive;
  color: black;
}

#table-row1,
#table-row4 {
  margin: 0 20px 0 20px;
}

/* .table-status.full {
  color: red;
} */

.table__contents {
  width: 90%;
  height: 100%;
  color: white;
  padding: 10px;
}
.table__contents__name {
  font-family: "Chonburi", cursive;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.table__contents__seats-left {
  font-size: 0.9rem;
}

.table__color-bar {
  border: unset;
  width: 10%;
  height: 100%;
  background-color: #bccbea;
  border-radius: 0 1em 1em 0;
}

.table__color-bar.small {
  width: 20%;
}

.row {
  width: 100%;
  display: flex;
  margin-left: 0;
  justify-content: space-around;
}

.seat {
  background-color: #444451;
  height: 15px;
  width: 40px;
  margin: 3px;
  padding: 0;
  text-align: center;
}

.seat.top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* .seat.left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.seat.right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
} */

.seat.selected {
  cursor: pointer;
  background-color: #e9967a;
  transform: scaleX(1.3) scaleY(1.3);
}

.seat.available {
  background-color: #bccbea;
}

.seat.available:hover {
  cursor: pointer;
  transform: scaleX(1.3) scaleY(1.3);
}

/* @media (max-width: 980px) {
} */

@media (max-width: 1320px) {
  .seat-view {
    overflow: scroll;
  }
  .seat-view::-webkit-scrollbar {
    display: none;
  }
  #section-container {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .section {
    width: 102px;
  }
  .section-margin {
    margin-top: 80px;
  }

  .table.small {
    width: 65px;
    height: 65px;
    margin-left: 18px;
  }

  .table.normal {
    width: 100px;
    height: 65px;
  }

  .seat {
    width: 36px;
  }

  .table__contents__name {
    font-size: 1rem;
  }
  .table__contents__seats-left {
    font-size: 0.7em;
  }

  #table-row1 .table__contents .table__color-bar {
    margin-left: -1px;
  }
}

.prev-btn-wrapper {
  position: absolute;
  width: 160px;
  left: 40px;
  bottom: 40px;
}

.prev-btn-wrapper #prev-btn {
  font-family: "Chonburi", cursive;
  color: #ffff;
  width: 80%;
  padding: 1rem;
  border-radius: 40px;
  border: 0;
  background-color: #becfbb;
  font-size: 14px;
  cursor: pointer;
}

.prev-btn-wrapper #prev-btn:hover,
.prev-btn-wrapper #prev-btn:active {
  color: #becfbb;
  box-shadow: 0 0 0 2px #becfbb inset;
  background-color: white;
  transition: 0.5s;
}

#toast {
  position: fixed;
  top: 19%;
  left: 62%;
  padding: 15px 20px;
  transform: translate(-60%, 10px);
  border-radius: 30px;
  overflow: hidden;
  font-size: 0.8rem;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  z-index: 10000;
}

#toast.reveal {
  opacity: 1;
  visibility: visible;
  transform: translate(-60%, 0);
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
}

/* -------------- Table.js -----------------*/
.section-margin {
  margin: 45% 0 45% 0;
}
