@font-face {
  font-family: customFont;
  src: url(./TTRamillas-Regular.otf);
}

.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right top, #c28ed1, #becfbb, #bccbea, #c28ed1);
  /* background: url(bg.jpg); */
}
.ticket-select {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 75vh;
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ticket-select h2 {
  font-size: 1.5rem;
  align-self: center;
  margin-top: 2rem;
}

.ticket-box {
  display: flex;
  margin: auto;
  justify-content: center;
}

.oneday-box {
  display: flex;
  flex-direction: column;
  border-right: solid 1px rgba(94, 94, 94, 0.598);
  padding-right: 1rem;
}

.charge-box {
  margin-left: 2rem;
}

.oneday-box h3,
.charge-box h3 {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: rgb(103, 103, 103);
}

.oneday-box p,
.charge-box p {
  color: #858585;
}

.oneday-box .oneday,
.charge-box .charge {
  background-color: rgba(121, 167, 135, 0.411);
  margin: 1rem;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
